.nav, .the__best__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Livvic', sans-serif;
  background-color: #014E56;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* livvic-regular - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/livvic-v8-latin-regular.woff2") format("woff2"), url("../../fonts/livvic-v8-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* livvic-500 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../fonts/livvic-v8-latin-500.woff2") format("woff2"), url("../../fonts/livvic-v8-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* livvic-600 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../../fonts/livvic-v8-latin-600.woff2") format("woff2"), url("../../fonts/livvic-v8-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* livvic-700 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../fonts/livvic-v8-latin-700.woff2") format("woff2"), url("../../fonts/livvic-v8-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2.4rem;
  padding: 1rem 3.3rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.btn:active {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: #002529;
}

.btn--survey {
  border: 2px solid #012F34;
  border-radius: 24px;
  color: #012F34;
  margin: 0;
}

.btn--survey:active {
  background: #012F34;
  border: 2px solid #012F34;
  border-radius: 24px;
  color: #fff;
}

.svg--icon1 {
  margin-right: 1.6rem;
}

.direction-btn {
  width: 5.6rem;
  height: 5.6rem;
  background-color: #F67E7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: -2.7rem;
  right: 14.8rem;
}

.direction-btn:active {
  background: #79C8C7;
}

.dierection-btn-img {
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: middle;
}

.direction--plus {
  background: #79C8C7;
}

.direction--plus:active {
  background: #F67E7E;
}

.header {
  min-height: 70rem;
  padding-top: 7.3rem;
  background-image: url(..//..//images/hero-img-1.png), url(..//..//images/hero-img-2.png);
  background-repeat: no-repeat;
  background-size: 10rem 20rem,35.8rem 10rem;
  background-position: 0 50%,right 16.5rem bottom 0%;
}

.nav__logo {
  margin-right: 8rem;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.list__item:not(:last-child) {
  margin-right: 4rem;
}

.list__link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.list__link:active {
  color: #F67E7E;
}

.the__best {
  margin-top: 12.9rem;
}

.the__best__heading {
  width: 62.0rem;
  margin: 0;
  margin-right: 3rem;
  font-weight: bold;
  font-size: 10rem;
  line-height: 10rem;
  color: #fff;
}

.the__best__heading__light {
  color: #F67E7E;
}

.the__best__line {
  margin-bottom: 7.9rem;
  width: 5rem;
  height: 4px;
  background: #79C8C7;
}

.the__best__text {
  width: 44.5rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.footer {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer--img {
  margin-bottom: 2.5rem;
}

.footer__text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer__right {
  max-width: 25.5rem;
  margin-left: auto;
}

.footer__right__text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 5.1rem;
}

.footer__svg {
  margin-left: 15.4rem;
}

.footer__svg__link:nth-child(2) {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

svg {
  color: #fff;
}

svg:active {
  color: #F67E7E;
}

.team {
  min-height: 68.4rem;
  padding-top: 14rem;
  background-color: #012F34;
  background-image: url(../../images/img_team4.svg);
  background-repeat: no-repeat;
  background-size: 10rem 24.4rem;
  background-position: right bottom 0%;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__link {
  width: 5rem;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom: 5.4rem;
}

.team__heading {
  max-width: 44.5rem;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
}

.team__right__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__right__all:nth-child(1) {
  margin-top: 5.4rem;
}

.team__right__all:nth-child(2) {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.team__right__all::before {
  content: "";
  display: inline-block;
  width: 7.2rem;
  height: 7.2rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2.3rem;
}

.team__right__all:nth-child(1)::before {
  background-image: url(..//..//images/img_team1.svg);
}

.team__right__all:nth-child(2)::before {
  background-image: url(..//..//images/img_team2.svg);
}

.team__right__all:nth-child(3)::before {
  background-image: url(..//..//images/img_team3.svg);
}

.team__right__all__text__1 {
  margin-bottom: 1.6rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #F67E7E;
}

.team__right__all__text__2 {
  max-width: 44.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.about__us {
  min-height: 74.5rem;
  padding-top: 14rem;
  background-image: url(../../images/About__us--img1.svg), url(../../images/About__us--img2.svg);
  background-repeat: no-repeat;
  background-size: 14.7rem 10rem,20rem 10rem;
  background-position: left top 0%,right bottom 0%;
}

.about__us__heading {
  margin: 0 auto;
  max-width: 95rem;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: #fff;
  margin-bottom: 5.6rem;
}

.about__us__heading__rapture__blue {
  color: #79C8C7;
}

.about__us__icon {
  max-width: 35rem;
}

.about__us__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__us__icon__text1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__us__icon__text1::before {
  content: "";
  display: inline-block;
  width: 6.7rem;
  height: 5.6rem;
  background-image: url(../../images/about__as_img2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: -1.8rem;
}

.about__us__icon__text2 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
  color: #fff;
  margin-top: 2.4rem;
  margin-bottom: 2px;
}

.about__us__icon__text3 {
  font-weight: 500;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-align: center;
  color: #fff;
}

.about__us__img {
  display: block;
  width: 6.2rem;
  height: 6.2rem;
  margin: 0 auto;
  margin-top: 3.2rem;
}

.survey {
  min-height: 20rem;
  padding-top: 7.6rem;
  background-color: #F67E7E;
  background-image: url(../../images/survey_img.png);
  background-repeat: no-repeat;
  background-size: 20rem 13rem;
  background-position: left bottom 0%;
}

.survey__heading {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: #012F34;
  margin-right: 26rem;
}

.survey__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__section {
  min-height: 51.7rem;
  padding-top: 7.3rem;
  background-image: url(../../images/header__section__img.svg);
  background-repeat: no-repeat;
  background-size: 10rem 20rem;
  background-position: right bottom 0%;
}

.header__section__about {
  padding-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__section__about__heading {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 10rem;
  color: #fff;
  margin-right: 19rem;
}

.header__section__about__text {
  max-width: 73rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
}

.header__section__about__line {
  margin-bottom: 4rem;
  width: 5rem;
  height: 4px;
  background: #79C8C7;
}

.header__section .header--about--line {
  margin-bottom: 4rem;
}

.direction {
  padding-top: 14rem;
  min-height: 100.2rem;
  background-color: #004047;
  background-image: url(../../images/direction-img1.svg), url(../../images/direction-img2.svg);
  background-repeat: no-repeat;
  background-size: 10rem 20rem,14.7rem 10rem;
  background-position: left top 0% ,right bottom 0%;
}

.direction__heading {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: #fff;
}

.direction__top {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.direction__top__icon {
  width: 35rem;
  padding: 3.2rem 2.4rem 5.6rem 2.4rem;
  background-color: #012F34;
  position: relative;
}

.direction__top__icon__list__img {
  display: block;
  width: 9.6rem;
  height: 9.6rem;
  margin: 0 auto;
}

.direction__top__icon__list__text__1 {
  margin-top: 1.6rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
  color: #79C8C7;
}

.direction__top__icon__list__text__2 {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fff;
}

.direction__bottom {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.direction__bottom__icon {
  width: 35rem;
  padding: 3.2rem 2.4rem 5.6rem 2.4rem;
  background-color: #012F34;
  position: relative;
}

.direction__bottom__icon__svg {
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.direction__bottom__icon__svg__svg .icon:nth-child(1) {
  margin-right: 1.6rem;
}

.direction__bottom__icon__last__list__text__1 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
  color: #79C8C7;
}

.direction__bottom__icon__last__list__text__2 {
  width: 25.4rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 8px;
  color: #FFFFFF;
}

.direction__bottom__icon__list__img {
  display: block;
  width: 9.6rem;
  height: 9.6rem;
  margin: 0 auto;
}

.direction__bottom__icon__list__text__1 {
  margin-top: 1.6rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
  color: #79C8C7;
}

.direction__bottom__icon__list__text__2 {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fff;
}

.clients {
  padding-top: 14rem;
  min-height: 43.7rem;
  background-color: #012F34;
  background-image: url(../../images/clients-bg.svg);
  background-repeat: no-repeat;
  background-size: 20rem 20rem;
  background-position: left top 0%;
}

.clients__heading {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 7rem;
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */